<html>
    <head>
        <title>Find The Lost</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1>
            Welcome to Find the Lost
        </h1>

		<nav class="navbar navbar-expand-lg bg-dark text-white">
		  <a class="navbar-brand" href="/">Find the lost</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav">
                <%for(let i=0; i<nav.length; i++) {%>
                <li class="nav-item">
                    <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%><a>
                </li>
                <%}%>
            </ul>
		  </div>
		</nav>

        <!-- begin about section -->
		<div class="container about grey" id="about">
			<h1> About </h1>
			<p>
				Find the lost is an online database that can help you find your lost items.
				You can also add items to our database to help others find their lost items!
			</p>
		</div>
		<!-- end about section -->


		<div class="container signin grey">
			<h1> Sign Up  </h1>
			<div class="container-sm pt-3">
				<form name="signUpForm" action="/auth/signUp" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Enter Username:</label>
						<div class="col-sm-3">
							<input id="username" name="username" class="form-control"> <br>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Enter Password:</label>
						<div class="col-sm-3">
							<input id="password" name="password" type="password" class="form-control"> <br>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Re-Enter Password:</label>
						<div class="col-sm-3">
							<input id="password" name="password2" type="password" class="form-control"> <br>
						</div>
					</div>
					<div class="form-group row">
						<input type="submit" value="Sign Up" />
					</div>
				</form>
				<a href="auth/signin">Already have an account? Sign in</a>
			</div>
		</div>

        <script src="/ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

    
</html>